.button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 23px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  border-radius: 1px;
}
