.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  padding: 21px 0;
  background-color: $basic-blue;
  text-align: center;
  box-shadow: 0 1px 0 0 $black, inset 0 1px 0 0 $basic-white-15;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $basic-white;
  text-transform: uppercase;
}
