$basic-white: #ffffff;
$basic-white-15: rgba(255, 255, 255, 0.15);
$basic-white-30: rgba(255, 255, 255, 0.3);
$dark-blue: #1d2631;
$basic-blue: #283645;
$basic-blue-60: rgba(40, 54, 69, 0.6);
$basic-blue-50: rgba(40, 54, 69, 0.5);
$basic-blue-30: rgba(40, 54, 69, 0.3);
$basic-blue-10: rgba(40, 54, 69, 0.1);
$gray: #e5e5e5;
$light-gray: #f2f2f2;
$light-light-gray: #efefef;
$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$red: #d22856;
$red-30: rgba(210, 40, 86, 0.3);
$green: #2aab6d;
$dark-green: #1c9b5e;
$gray-shadow: rgba(0, 1, 1, 0.15);
